<%= render 'programs/search' %>
<h1>Search Results</h1>

<div id="program_list">
  <table>
  <% @programs.each do |program| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="list_image">
        <%= image_tag((program.image == '' ? 'programs/default.png' : program.image)) %>
      </td>
      <td class="list_description" >
        <dl>
          <dt><%= link_to program.title, program, :class => 'program_title' %></dt>
          <dd>
            <%= program.category.nil? ? '-' : program.category.name %>
            (<%= program.users.nil? ? 0 : program.users.count %> subsribers)<br/>
            <%= truncate(program.description, :length => 200) %>
          </dd>
        </dl>
      </td>
      <td class="list_actions">
        <% if signed_in? %>
          <% if @currentSubscriptions.has_key?("#{program.id}") %>
            <%= link_to "Unsubscribe" , unsubscribe_path(:program => program.id) %>
          <% else %>
            <%= link_to "Subscribe" , subscribe_path(:program => program.id) %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @programs %>
</div>
