<%= render 'programs/search' %>
<h1>Search Results</h1>
<% @programs.each do|ele| %>
<div class="well">
<span class="span3">
<%= ele.title %> 
</span>
<span class="pull-right">
<span class="span2">
<div style="margin: -5px 0 0 0; font-size: 22px">
<% time = ele.start
length = time.index(" ")
time = time[0,length]
dt = DateTime.parse(time) %>
<%= dt.strftime("%I : %M %p")  %>
</div>
<%= dt.strftime("%B  %d")  %>
</span>

<%= link_to "Alert" , "#"%> 
</span>
</div>
<%end%>
<div class="pagination">
<%= will_paginate @programs %>
</div>
