<h1>Listing program_genres</h1>

<table>
  <tr>
    <th>Program</th>
    <th>Genre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @program_genres.each do |program_genre| %>
  <tr>
    <td><%= program_genre.program %></td>
    <td><%= program_genre.genre %></td>
    <td><%= link_to 'Show', program_genre %></td>
    <td><%= link_to 'Edit', edit_program_genre_path(program_genre) %></td>
    <td><%= link_to 'Destroy', program_genre, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program genre', new_program_genre_path %>
